<form name="contact" method="POST" netlify>
  <label for="name">Nome</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Seu nome" title="Por favor, insira seu nome" required>
  <label for="email">E-mail</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Seu endereço de e-mail" title="A parte do domínio do endereço de e-mail é inválida (a parte após o @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  <label for="phone">Número de telefone</label>
  <input type="text" name="phone" id="phone" autocomplete="tel-national" placeholder="Seu número de telefone" title="Por favor, insira seu número de telefone" required>
  <label for="message">Domínio</label>
  <textarea name="message" id="message" placeholder="O domínio que você deseja. Exemplo: Example.filmes.nextfilme.xyz" rows="7" required></textarea>
  <button type="submit" name="submit">Pronto</button>
</form>
